// dark夜间模式配置
html[data-theme='dark'] {
  // body背景色
  --van-background: #090d20;

  --van-background-2: var(--van-background);

  // card背景色
  --van-card-background: #171d3a;

  // Cell背景色
  --van-cell-background: var(--van-card-background);

  // card渐变背景色
  --van-card-linear-background: linear-gradient(90deg, #091f4a 0%, #0a0f29 100%);

  // 边框颜色
  --van-border-color: #264486;

  // 输入框背景色
  --van-field-background: var(--van-card-background);

  // TabBar渐变背景色
  --van-tabbar-background: linear-gradient(180deg, #12345f 0%, #070b1c 100%);

  // TabBar选中背景颜色
  --van-tabbar-item-active-background: transparent;

  // TabBar上边框颜色
  --van-tabbar-border-color: #3f72b1;

  // 文本颜色
  --van-text-color: #ffffff;

  // Tab选中颜色
  --van-tab-active-text-color: #73bcff;

  // Tab未选中颜色
  --van-tab-inactive-color: #ffffff;

  // NavBar背景颜色
  --van-nav-bar-background: #050c2a;

  // 渐变背景色
  --van-gradient-background: linear-gradient(180deg, #0F1538 81.9%, #2A3B9E 100%);

  --van-radio-checked-icon-color: var(--van-primary-bg-color);

  --van-radio-dot-size: 0px;
}
