@font-face {
  font-family: 'exchange-icon';
  src:
    url('/@/assets/font/iconfont.woff2?t=1749148712299') format('woff2'),
    url('/@/assets/font/iconfont.woff?t=1749148712299') format('woff'),
    url('/@/assets/font/iconfont.ttf?t=1749148712299') format('truetype');
  font-display: swap;
}

.exchange-icon {
  font-family: 'exchange-icon';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}

.exchange-icon-contract_order:before {
  content: '\e64a';
}

.exchange-icon-lever:before {
  content: '\e64b';
}

.exchange-icon-contract:before {
  content: '\e64c';
}

.exchange-icon-grid:before {
  content: '\e64d';
}

.exchange-icon-spittoons:before {
  content: '\e64e';
}

.exchange-icon-h_Trade:before {
  content: '\e649';
}

.exchange-icon-d_Balance:before {
  content: '\e637';
}

.exchange-icon-d_Flat:before {
  content: '\e641';
}

.exchange-icon-d_Markets:before {
  content: '\e642';
}

.exchange-icon-d_Home:before {
  content: '\e643';
}

.exchange-icon-d_Trade:before {
  content: '\e644';
}

.exchange-icon-h_Balance:before {
  content: '\e645';
}

.exchange-icon-h_Flat:before {
  content: '\e646';
}

.exchange-icon-h_Home:before {
  content: '\e647';
}

.exchange-icon-h_Markets:before {
  content: '\e648';
}

.exchange-icon-light:before {
  content: '\e695';
}

.exchange-icon-dark:before {
  content: '\e699';
}

.exchange-icon-unlocked:before {
  content: '\e949';
}

.exchange-icon-lock:before {
  content: '\e600';
}

.exchange-icon-gift:before {
  content: '\e638';
}

.exchange-icon-kefu:before {
  content: '\e639';
}

.exchange-icon-yuebao:before {
  content: '\e63a';
}

.exchange-icon-wallet:before {
  content: '\e63b';
}

.exchange-icon-withdraw:before {
  content: '\e63c';
}

.exchange-icon-browser:before {
  content: '\e63d';
}

.exchange-icon-money:before {
  content: '\e63e';
}

.exchange-icon-month:before {
  content: '\e63f';
}

.exchange-icon-week:before {
  content: '\e640';
}

.exchange-icon-friend:before {
  content: '\e62b';
}

.exchange-icon-link:before {
  content: '\e635';
}

.exchange-icon-balance:before {
  content: '\e636';
}

.exchange-icon-copy:before {
  content: '\e65f';
}

.exchange-icon-send:before {
  content: '\e743';
}

.exchange-icon-LastMining:before {
  content: '\e62c';
}

.exchange-icon-NextAward:before {
  content: '\e62d';
}

.exchange-icon-ThisNo:before {
  content: '\e62e';
}

.exchange-icon-ThisMining:before {
  content: '\e62f';
}

.exchange-icon-ThisRanking:before {
  content: '\e630';
}

.exchange-icon-MiningNo:before {
  content: '\e631';
}

.exchange-icon-TotalMining:before {
  content: '\e632';
}

.exchange-icon-TotalAward:before {
  content: '\e633';
}

.exchange-icon-UserMining:before {
  content: '\e634';
}

.exchange-icon-plogo:before {
  content: '\e62a';
}

.exchange-icon-db:before {
  content: '\e629';
  font-size: 14px;
}

.exchange-icon-logo:before {
  content: '\e628';
}

.exchange-icon-theme:before {
  content: '\e627';
}

.exchange-icon-crypto:before {
  content: '\e616';
}

.exchange-icon-win:before {
  content: '\e617';
}

.exchange-icon-chess:before {
  content: '\e618';
}

.exchange-icon-mining:before {
  content: '\e619';
}

.exchange-icon-menus:before {
  content: '\e61a';
}

.exchange-icon-locale:before {
  content: '\e61b';
}

.exchange-icon-Popular:before {
  content: '\e61c';
}

.exchange-icon-Verifiable:before {
  content: '\e61d';
}

.exchange-icon-promotion:before {
  content: '\e61e';
}

.exchange-icon-lotto:before {
  content: '\e61f';
}

.exchange-icon-chat:before {
  content: '\e620';
}

.exchange-icon-sport:before {
  content: '\e621';
}

.exchange-icon-slots:before {
  content: '\e622';
}

.exchange-icon-live:before {
  content: '\e623';
}

.exchange-icon-recommend:before {
  content: '\e624';
}

.exchange-icon-web3:before {
  content: '\e625';
}

.exchange-icon-game:before {
  content: '\e626';
}

.exchange-icon-PWB:before {
  content: '\e60e';
}

.exchange-icon-USDT:before {
  content: '\e60f';
}

.exchange-icon-hema:before {
  content: '\e60d';
}

.exchange-icon-taopiaopiao:before {
  content: '\e607';
}

.exchange-icon-elemo:before {
  content: '\e608';
}

.exchange-icon-huanxing:before {
  content: '\e609';
}

.exchange-icon-xiazi:before {
  content: '\e60a';
}

.exchange-icon-zhixiaobao:before {
  content: '\e60b';
}

.exchange-icon-telegram:before {
  content: '\e60c';
}

.exchange-icon-google:before {
  content: '\e601';
}

.exchange-icon-dice-6:before {
  content: '\e610';
}

.exchange-icon-dice-5:before {
  content: '\e611';
}

.exchange-icon-dice-4:before {
  content: '\e612';
}

.exchange-icon-dice-2:before {
  content: '\e613';
}

.exchange-icon-dice-1:before {
  content: '\e614';
}

.exchange-icon-dice-3:before {
  content: '\e615';
}
